* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a {
  color: rgba(79, 86, 101, 1);
}

:root {
  --secondary-color: rgba(186, 85, 211, 1);
  --primary-font: 'Rubik', sans-serif;
  --header-font: 'Ranchers', sans-serif;
}

.footerCardh3 {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: 19px;
}
.footerGrid {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0px auto;
  padding: 80px 0px;
}

.footer {
  background-color: rgba(248, 248, 248, 1);
  position: relative;
  margin-top: 100px;
}

.popUp {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  position: absolute;
  background-color: white;
  width: 85%;
  border: 1px solid gainsboro;
  bottom: 253px;
  left: 100px;
  border-radius: 8px;
}

.popUpText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.popUpText p,
.footerCard p {
  color: rgba(79, 86, 101, 1);
  font-size: 12px;
}
.footerCardh4 {
  font-size: 15px;
  margin-bottom: 8px;
}

.footerBtn {
  width: 100%;
  max-width: 150px;
  padding: 15px 10px;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.footerCardh3 {
  margin-bottom: 8px;
  font-weight: 400;
}

.footerCard p {
  font-size: 15px;
  color: rgba(79, 86, 101, 1);
  line-height: 25px;
}

.footerCard {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100px;
}

@media only screen and (max-width: 768px) {
  .popUp {
    position: static;
    margin: 0px auto;
    flex-direction: column;
    gap: 15px;
    margin: 0px auto;
  }

  .footer {
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .reviewText h1 {
    font-size: 22px;
  }
  .reviewText p {
    font-size: 14px;
  }
  .reviewGrid {
    grid-template-columns: auto;
    align-items: center;
  }
  .reviewSlideBtn {
    display: none;
  }

  .footerGrid {
    flex-wrap: wrap;

    gap: 10px;
  }
}

@media only screen and (max-width: 300px) {
  .footerGrid {
    justify-content: center;
  }

  .footerCard {
    align-items: center;
  }
}
