* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a {
  color: rgba(79, 86, 101, 1);
}

:root {
  --secondary-color: rgba(186, 85, 211, 1);
  --primary-font: 'Rubik', sans-serif;
  --header-font: 'Ranchers', sans-serif;
  --shadow: 0 4px 8px 0 rgb(243, 239, 239), 0 6px 20px rgb(243, 239, 239);
}

.homeWrapper {
  width: 85%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Header Section */
.header h1,
.footerCardh3 {
  color: var(--secondary-color);
  font-family: var(--header-font);
  font-size: 19px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.firstSection {
  display: flex;
  flex-direction: column;
}

.headerLinks {
  display: flex;
  gap: 30px;
  justify-content: center;
  color: grey;
  font-size: 16px;
}

.myLinks {
  cursor: pointer;
}
.signIn {
  color: rgba(11, 19, 42, 1);
  font-weight: 500;
}
.signIn,
.logIn {
  outline: none;
  background-color: white;
  padding: 8px 25px;
  border: none;
  cursor: pointer;
}

.logIn {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  padding: 8px 30px;
  font-weight: 400;
}

/* Partners Section */

.partnersContent h1,
.popUp h3 {
  font-size: 25px;
  color: #0b132a;
  line-height: 35px;
}

.faqList,
.partnersContent p {
  font-size: 15px;
  color: rgba(79, 86, 101, 1);
  line-height: 25px;
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.partnersContent {
  display: flex;
  flex-direction: column;
  gap: 20px;

  align-items: center;
}

.partnersContainer {
  min-height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 40px;
}

.partnersIcon {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.partnersIcon img {
  object-fit: contain;
  width: 150px;
  height: 100px;
}

button {
  outline: none;
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 1s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}

.Btn {
  padding: 12px 20px;
  color: white;
  width: 150px;
  background-color: var(--secondary-color);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.Toogle {
  display: none;
  cursor: pointer;
}

.Navdropdown {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}

@media only screen and (max-width: 998px) {
  .homeWrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .myHeaderLinks,
  .headBtn {
    display: none;
  }

  .partnersContainer {
    margin-top: 60px;
  }

  .Toogle {
    display: block;
  }

  .headerLinks {
    flex-direction: column;
    gap: 20px;
  }

  .partnersIcon {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .partnersContent h1 {
    font-size: 22px;
  }
  .partnersContent p {
    font-size: 14px;
  }
}
