* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

a {
  color: rgba(79, 86, 101, 1);
}

:root {
  /* --primary-color: rgba(55, 102, 153, 1); */
  --secondary-color: rgba(186, 85, 211, 1);
  --primary-font: 'Rubik', sans-serif;
  --header-font: 'Ranchers', sans-serif;
}
.priceGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 100%;

  justify-content: center;
}

.pricingText {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionPrice {
  text-align: center;
  margin-top: 30px;
}

.pricingText h1 {
  margin-top: 30px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  height: 200px;
}

.pricingCards:nth-last-child(1) {
  border: 1px solid var(--secondary-color);
}
.pricingCards {
  width: 100%;
  border: 1px solid gainsboro;
  text-align: center;
  padding: 30px;
}

.pricingImg {
  height: 100px;
}

.priceCardFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.priceCardFooter p {
  color: #0b132a;
}

.pricingCards h1 {
  margin-bottom: 25px;
  font-size: 16px;
  color: rgba(11, 19, 42, 1);
}

.priceFeatures {
  display: flex;
  gap: 10px;
  align-items: center;
}

.priceFeatures p {
  font-size: 12px;
  text-align: center;
}

.pricingText h1 {
  font-size: 25px;
  color: #0b132a;
}

.pricingText p {
  font-size: 15px;
  color: rgba(79, 86, 101, 1);
  line-height: 25px;
}

.PriceBtn {
  width: 150px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  .priceGrid {
    grid-template-columns: auto auto;
    justify-content: inherit;
  }
}

@media only screen and (max-width: 600px) {
  .pricingText h1 {
    font-size: 22px;
  }
  .pricingText p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .pricingText h1 {
    font-size: 20px;
  }
  .pricingText p {
    font-size: 13px;
  }
  .priceGrid {
    grid-template-columns: auto;
    justify-content: inherit;
  }
}
